.mat-toolbar.mat-primary {
    background: #121a2e !important;
    color: #fff;
}

.main-container {
    height: calc(100% - 64px);
}

.cards-container{
    width: 50%;
    margin-left: 40px;
    cursor: pointer;
}

.card {
    width: 50%;
    height: 122px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #121a2e;
}

.width-48 {
    width: 48%;
}


