.mat-toolbar.mat-primary {
    background: #121a2e !important;
    color: #fff;
}

.main-container {
    height: calc(100% - 64px);
}

.sidenav-container {
    height: 100%;

    mat-sidenav {
        width: 200px !important;
        background-color: #121a2e91;

        .side-item {
            height: 40px;
            padding-left: 1em;
            box-sizing: border-box;

            &:hover {
                border-left: 5px solid #cd2e37;
                background: #121a2e91;
                padding-left: e11px;
                font-size: large;
                cursor: pointer;
            }
        }
    }
}

.cards-container{
    width: 50%;
    margin-left: 40px;
    cursor: pointer;
}

.card {
    width: 50%;
    height: 122px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.width-48 {
    width: 48%;
}


