<!-- <mat-toolbar class="flex spacebetween-center" color="primary">
    <div class="flex center-center">
        <button mat-icon-button matTooltip="Home">
            <mat-icon>person</mat-icon>
        </button>
        <span>Loan Officer</span>
    </div>
    <div>
        
    </div>
</mat-toolbar> -->
<div class="main-container flex column">
    <div class="flex gap-1em center-center">
        <div class="cards-container flex gap-1em width-48">
            <mat-card matBadgeSize="large" class="card flex center-center">Approved Loans</mat-card>
            <mat-card matBadgeSize="large" class="card flex center-center">Pending Requests</mat-card>
            <mat-card matBadgeSize="large" class="card flex center-center">Declined Requests</mat-card>
        </div>
        <div class="flex center-center">
            <app-donut></app-donut>
        </div>
    </div>
    <app-loan-officer-table></app-loan-officer-table>
</div>
