.mat-toolbar.mat-primary {
    background: #121a2e !important;
    color: #fff;
}

.main-container {
    height: 100%;
}

.cards-container {
    width: 100%;
    padding-right: 40px;
    cursor: pointer;
    padding-top: 35px;
    box-sizing: border-box;
}

.card {
    width: 25%;
    height: 122px;
    margin-right: 40px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #121a2e;
}

.payment-container {
    width: 100%;    
}

.color-blu {
    color: red;
}

.apply-btn{
    height: 8%;
    justify-content: end;
    align-items: center;
    padding-right: 35px;
}

.apply-btn button{
    width: 10%;
    height: 100%;
    font-size: 1.3em;
    background-color: #121a2e !important;
    color: #fff !important;
}