
.red{
    color: red;
}
.form-container{
    flex-wrap: wrap;
    background-color: #efefef;
}
.width-48{
    width: 48%;
}

.register{
    font-size: 2em;
    font-weight: 2px;
    text-align: center;
    color: #121a2e;
}
.mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-container-color: #cd2e37;
    --mdc-protected-button-label-text-color: #efefef;
  }
  
  .mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color:#121a2e ;
    --mdc-protected-button-label-text-color: #efefef;
  }
  