$red:#cd2e37;
$blue:#121a2e;
$white: #fefefe;

.main-form{
    width: 80%;
}

.main-div{
    padding: 10px;
}

.submit{
    background-color: #121a2e !important;
    color: #fefefe !important;
}

.cancel{
    background-color: #cd2e37 !important;
    color: #fefefe !important;
}

