<div class="flex center-center column relative">
    <mat-icon (click)="close()" class="close absolute">close</mat-icon>
    <h1 class="text-center colorBlu">{{isEdit? 'Update profile':'Create an Account'}}</h1>
    <form [formGroup]="accountForm" class="flex full-width column ">

        <mat-form-field class="full-width">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="fullName" placeholder="Enter your Full Name">
            <mat-error *ngIf="accountForm.get('fullName')?.hasError('required')">
                Full Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="accountForm.get('fullName')?.hasError('minlength')">
                Full Name should at least have 3 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="hello@email.pay">
            <mat-error *ngIf="accountForm.get('email')?.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="accountForm.get('email')?.hasError('pattern')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Cell Number</mat-label>
            <input type="text" matInput formControlName="cellNumber" placeholder="Enter your Cell Number"
                maxlength="10">
            <mat-error *ngIf="accountForm.get('cellNumber')?.hasError('required')">
                Cell Number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="accountForm.get('cellNumber')?.hasError('minlength')">
                Cell Number should at least have 10 charactors
            </mat-error>
        </mat-form-field>

        <!-- Credit score -->
        <mat-form-field class="full-width">
            <mat-label>Credit Score</mat-label>
            <input type="text" matInput formControlName="creditScore" placeholder="Enter your Credit score"
                maxlength="3">
            <mat-error *ngIf="accountForm.get('creditScore')?.hasError('required')">
                Credit score is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" *ngIf="!isEdit">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <mat-error *ngIf="accountForm.get('password')?.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" *ngIf="!isEdit">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formArrayName="confirmPassword">
            
                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : ' visibility_off'}}</mat-icon>
           
            <mat-error *ngIf="accountForm.get('confirmPassword')?.hasError('required')">
                Confirm Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="flex gap-1em m-b-1em full-width">
            <button mat-raised-button class="colorRed half-width" (click)="close()" >Cancel</button>
            <button mat-raised-button class="colorBlue half-width" (click)="isEdit? Update() : submit()">{{isEdit? 'Update':'Submit'}}</button>
        </div>
    </form>
</div>