form {
    width: 50%;
}

.colorBlue {
    background-color: #121a2e !important;
    color: #fefefe !important;
}

.colorRed {
    background-color: #cd2e37 !important;
    color: #fefefe !important;
}

.colorBlu{
    color: #121a2e;
}



.form-div form{
    width: 95% !important;
}
