<div class="full-height main-landing">
    <!-- Navbar -->
    <mat-toolbar class="navbar flex spacebetween-center">
        <div class="full-height flex center-center gap-5">
            <div class="full-height image-card"><img class="full-height" src="../../../assets/images/loan.jfif"
                    alt="Loan logo"></div>
            <p>Zaka lendings</p>
        </div>
        <!-- Buttons -->
        <div class="flex gap-1em">
            <button class="apply" mat-raised-button (click)="apply()">Register</button>
            <button class="login" mat-raised-button (click)=" logIn()">Login</button>
        </div>
    </mat-toolbar>
    <!-- End Navbar -->
    <!-- Section -->
    <div class="section">
        <div class="loan-card-div flex center-center">
            <!-- card -->
            <mat-card class="the-mat-card full-width flex">
                <div class="card flex center-center" *ngFor="let loan of loans, let i = index">
                    <p (click)="scrollToSection(i)">{{loan}}</p>
                </div>
                <div class="enquire-card flex ">
                    <button (click)="openDialog()">Enquire</button>
                </div>
            </mat-card>
            <!-- End card -->
        </div>
        <!-- Loan calculator -->
        <div class="loan-calculator flex">
            <div class="left full-height half-width">
                <img class="full-height full-width" src="../../../assets/images/loan_agreement.jfif" alt="">
            </div>
            <div class="right full-height half-width flex center-center">
                <div class="calculator">
                    <!-- form -->
                    <div class="form-div">
                        <p class="loan-heading no-margin">Loan Calculator</p>
                        <form #calculatorForm="ngForm" class="flex spacebetween-center">
                            <div>
                                <p class="no-margin">Loan Amount</p>
                                <input type="number" [(ngModel)]="calculatorFormData.loanAmount" name="loanAmount"
                                    #loanAmount="ngModel" required>
                            </div>
                            <div>
                                <p class="no-margin">Interest Rate</p>
                                <input type="number" [(ngModel)]="calculatorFormData.interest" name="interest"
                                    #interest="ngModel" required>
                            </div>
                            <div>
                                <p class="no-margin">Duration (Months)</p>
                                <input type="number" [(ngModel)]="calculatorFormData.loanTenure" name="loanTenure"
                                    #loanTenure="ngModel" required>
                            </div>
                        </form>
                    </div>
                    <!-- End form -->
                    <div class="results-div flex">
                        <div class="results-left full-height half-width">
                            <div class="result">
                                <small>EMI</small>
                                <h3 class="no-margin margin-5px">R {{emi}}</h3>
                                <hr>
                                <small>Total Interest Payable</small>
                                <h3 class="no-margin margin-5px">R {{interestPayable}}</h3>
                                <hr>
                                <small>Total Amount</small>
                                <h3 class="no-margin margin-5px">R {{totalAmount}}</h3>
                                <hr>
                            </div>
                            <button (click)="submit()" mat-raised-button>Calculate</button>
                        </div>
                        <div class="results-right full-height half-width">
                            <app-pie [totalAmount]="totalAmount" [interrestPayable]="interestPayable"></app-pie>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Loan calculator -->
    </div>
    <!-- End Section -->
</div>

<!-- Loan Types -->
<div class="policy flex" id="targetSection">
    <div class="short-term full-height half-width flex center-center">
        <div class="short-content flex column gap-1em center-center">
            <p class="text-center">Short Term Loan</p>
            <small>Short-term loans are financial instruments typically borrowed for 
                a brief duration, often ranging from a few weeks to a few months. They
                 provide quick access to funds for individuals or businesses facing 
                 immediate cash flow needs or unexpected expenses. These loans usually 
                 have a faster application process and approval time compared to
                  traditional loans. However, they often come with higher interest 
                  rates and fees due to the shorter repayment period and increased 
                  risk for lenders. Short-term loans can be secured or unsecured, d
                  epending on the borrower's creditworthiness and collateral. While 
                  they can offer temporary relief in times of financial urgency, 
                  borrowers should carefully consider the terms and costs associated 
                  with short-term loans and ensure they can meet the repayment 
                  obligations to avoid potential financial strain.
            </small>
            <button class=" terms-btn" (click)="shortTermLoan()" mat-raised-button>TS & Cs</button>
        </div>
    </div>
    <div class="long-term-loan full-height half-width flex center-center">
        <div class="short-content flex column gap-1em center-center">
            <p class="text-center">Long Term Loan</p>
            <small>Long-term loans are financial arrangements where borrowed funds are repaid
                 over an extended period, typically exceeding one year. These loans are commonly
                  used for large-scale investments such as purchasing real estate, financing
                   business expansion, or funding major projects. Long-term loans offer lower
                    monthly payments compared to short-term loans due to the extended repayment 
                    period, making them suitable for financing expensive endeavors. They usually 
                    come with fixed or variable interest rates, depending on the terms negotiated
                     with the lender. Collateral may be required to secure the loan, especially for
                      large amounts. While long-term loans provide flexibility and stability,
                       borrowers should carefully assess their financial situation and long-term goals before committing to repayment over an extended period, as defaulting on payments can have serious consequences, including asset seizure and damage to creditworthiness.</small>
            <button class=" terms-btn" (click)="longTermLoan()" mat-raised-button>TS & Cs</button>
        </div>
    </div>
</div>
<!-- End Loan Types -->
<!-- About us -->
<div class="about-us" id="aboutUs">
    <div class="main-about full-height full-width flex column center-center">
        <h1 class="no-margin text-center">About Us</h1>
        <p>At our bank, we prioritize your financial well-being by offering loans with competitive interest rates,
            ensuring you can achieve your goals without breaking the bank. With our commitment to providing affordable
            lending solutions, we empower you to borrow responsibly and build a brighter future. Experience the
            difference with our flexible loan options tailored to meet your needs, making your financial journey
            smoother and more rewarding.</p>
        <h1 class="no-margin text-center">Why choose us</h1>
        <p>Choose us because we go beyond just offering competitive loan rates; our experienced team is dedicated to
            providing unparalleled customer service, guiding you through every step of the borrowing process with care
            and expertise. Additionally, our bank offers flexible repayment options and understands the importance of
            timely assistance, ensuring you have the support you need when you need it most. With a reputation built on
            reliability and trustworthiness, choosing us means forging a lasting partnership focused on your financial
            stability and success for years to come. </p>
    </div>
</div>
<!-- End of About us -->

<!-- Footer -->
<div class="gap full-height flex center-center">
    <marquee>To qualify for our loan, your credit score must be in good standing, ensuring favorable terms and rates tailored to your financial needs. Rest assured, we offer personalized assistance to help you achieve and maintain a healthy credit profile.</marquee>
</div>

<div class="footer" id="footer">
    <div class="main-footer full-height full-width flex spacebetween-center">
        <div class="foot flex column gap-1em center-center">
            <p class="text-center">Follow Us On</p>
            <div class="icon-div flex center-center gap-1em " >
                <mat-icon>X</mat-icon>
                <mat-icon class="blue">facebook</mat-icon>
                <mat-icon>linkedin</mat-icon>
                <mat-icon class="redish">tiktok</mat-icon>
            </div>
        </div>

        <div class="foot flex column gap-1em center-center">
            <p class="text-center">Contact Us on</p>
            <div class="icon-div flex center-center gap-1em" >
                <div class="flex center-center gap-5">
                    <mat-icon class="green">phone</mat-icon>
                    <small class="no-margin">015 4456 682</small>
                </div>
                <div class="flex center-center gap-5">
                    <mat-icon class="meroon">email</mat-icon>
                    <small class="no-margin">lender@hotmail.co.za</small>
                </div>
            </div>
        </div>

        <div class="foot flex column gap-1em center-center">
            <p class="text-center">Where we located</p>
            <div class="icon-div flex center-center gap-1em" >
                <div class="flex center-center gap-5">
                    <mat-icon class="location">location_on</mat-icon>
                    <small class="no-margin"> 1 Bond Street, Kensington B, Randburg, 2194</small>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- End Footer -->