<div class="flex center-center full-width full-height">
    <mat-card class="bg flex center-center width-40">
        <div mat-dialog-content class="padding-1em width-80">
            <form [formGroup] ="loginForm" class=" flex column">
                <h1 class="text-center color-blue">Log In</h1>
                    <!-- Email -->
                    <mat-form-field >
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="fix@gmail.com">
                        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                            Email address is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">
                            enter a valid Email Adreess
                        </mat-error>
                    </mat-form-field>
                    <!-- Password -->
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="number" matInput formControlName="password" placeholder="****">
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                            Password should at least have 4 charectors
                        </mat-error>
                    </mat-form-field>
                    <div class="color-b m-b-1em">
                        <a >Forget Password</a>
                    </div>

                <div class="flex gap-1em end-center m-b-1em">
                    <button mat-raised-button color="warn" type="button" class="btn flex-1"
                        (click)="loginForm.reset()">Cancel</button>
                    <button mat-raised-button  type="button" class="btn flex-1">Submit</button>
                </div>

                <p>Dont have an account yet? <a href="register">Register</a> </p>

            </form>
          </div>
      </mat-card>
</div>
