<p>Loan Amount: Short-term loans usually have smaller loan amounts compared to long-term loans, ranging from a few hundred to a few thousand dollars.

    Repayment Period: The repayment period for short-term loans is relatively brief, typically ranging from a few weeks to a few months. Borrowers are required to repay the loan, along with any accrued interest and fees, by the agreed-upon due date.
    
    Interest Rate: Short-term loans often have higher interest rates compared to long-term loans due to the shorter repayment period and increased risk for lenders. Interest rates may be fixed or variable, depending on the loan agreement.
    
    Fees: Lenders may charge various fees for short-term loans, including origination fees, processing fees, and late payment fees. It's essential for borrowers to carefully review the fee schedule to understand the total cost of borrowing.
    
    Collateral: Depending on the lender and the borrower's creditworthiness, short-term loans may be secured or unsecured. Secured loans require collateral, such as a vehicle or property, to secure the loan, while unsecured loans do not require collateral but may have higher interest rates.
    
    Credit Check: Some lenders may perform a credit check as part of the loan application process to assess the borrower's creditworthiness and determine the loan terms. However, there are also lenders that offer short-term loans without requiring a credit check, known as payday loans or cash advances.
    
    Early Repayment: Borrowers may have the option to repay the loan early without incurring penalties. However, it's essential to check the loan agreement for any early repayment clauses or fees.
    
    Renewal or Extension: Some lenders offer the option to renew or extend the loan if the borrower is unable to repay the loan by the original due date. However, this may come with additional fees and interest charges.
    
    Legal Rights and Responsibilities: The loan agreement will outline the legal rights and responsibilities of both the lender and the borrower, including provisions for dispute resolution and default consequences.
    
    It's crucial for borrowers to carefully read and understand the terms and conditions of a short-term loan before agreeing to the loan agreement. If there are any unclear terms or questions, borrowers should seek clarification from the lender or a financial advisor before proceeding with the loan application.
    <br><br><span><b>NB: </b>Short Term Loans are Strictly Charged at <b>22% Interest Rate</b>. Exception can be made for customers over 2 years.</span>

   </p>

    <div class="flex center-center"><button mat-raised-button color="warn" (click)="close()">Close</button></div>