<div class="main-form-div flex center-center">
    <form [formGroup]="messageFormData" class="flex full-width  column gap-1em center-center">
        <p class="contact">{{_data?'Reply':'Send us a message'}}</p>
        <!-- Name -->
        <mat-form-field class="width-80" *ngIf="!_data">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="fullName" placeholder="Enter your Full Name">
            <mat-error *ngIf="messageFormData.get('fullName')?.hasError('required')">
                First Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="messageFormData.get('fullName')?.hasError('minlength')">
                Full Name should at least have 3 charectors
            </mat-error>
        </mat-form-field>

        <!-- Subject-->
        <mat-form-field class="width-80">
            <mat-label>Subject</mat-label>
            <input [readonly]="_data" type="text" matInput formControlName="subject" placeholder="Enter Subject">
            <mat-error *ngIf="messageFormData.get('subject')?.hasError('required')">
                Subject is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="messageFormData.get('subject')?.hasError('minlength')">
                Subject should have 3 at least charectors
            </mat-error>
        </mat-form-field>

        <!-- Email -->

        <mat-form-field class="width-80" *ngIf="!_data">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="messageFormData.get('email')?.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="messageFormData.get('email')?.hasError('pattern')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <!-- Message Area -->
        <mat-form-field class="example-full-width no-margin full-width half-height">
            <mat-label>Leave a Message</mat-label>
            <textarea [readonly]="_data" matInput placeholder="Ex. It makes me feel..." formControlName="messageArea"></textarea>
        </mat-form-field>
        <!-- Reply -->
        <!-- <mat-form-field class="example-full-width no-margin full-width half-height">
            <mat-label>Reply</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field> -->

        <div class="width-80 flex gap-1em">
            <button class="btn-0" mat-raised-button (click)="close()">{{_data?'Close':'Cancel'}}</button>
            <button class="btn-1" mat-raised-button 
          (click)="submit()">{{_data?'Reply':'Send Message'}}</button>
        </div>
    </form>
</div>