//colors
$blue: #121a2e;
$red: #cd2e37;
$white: #efefef;

.padding-12 {
  padding: 12px;
}

.color-blue {
  color: #121a2e;
}

form {
  width: 85%;
}

.blu {
  background-color: #121a2e !important;
  color: #efefef !important;
}

.red {
  background-color: #cd2e37 !important;
  color: #efefef !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.close {
  top: 3px;
  right: 3px;
  color: white;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #cd2e37;
}