.component-container {
  background-image: url('../../../assets/images/picked_one_page\ \(2\).jpg');
 width: 100%;
 height: 100%;
  position: relative;

}
.img{
  width: 100%;
  // background-size: cover;
  background-repeat: no-repeat;
}
.btn {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: #121a2e;
  --mdc-fab-icon-color: #fff;
  --mat-mdc-fab-color: #fff;
}

