<div class="full-width full-height flex main-container">
    <div class="profile flex center-center">
        <div class="card">
            <img src="../../../assets/images/picture.png" alt="John">
            <h1>Edward Juska</h1>
            <p class="title">Business Analyst</p>
            <p>edward.juska@gmail.com</p>
            <p>+27 76 523 3256</p>
            <p>Johannesburg, RSA</p>
            <div class="flex gap-1em">
                <button mat-raised-button type="button" class="color-blue">Edit Profile</button>
                <button mat-raised-button type="button" class="colorRed">Message</button>
            </div>
        </div>
    </div>
    <div class=" personal-info flex center-center">
        <div class="flex wrap spacebetween">
            <div class="info" *ngFor="let key of profileKeys">
                <p>{{key | titlecase}}: <strong>{{profileDetails[key]}}</strong></p>
            </div>
            <div class="flex column center-center">
                <h2>Your Credit Score Is Up</h2>
                <app-progress-bar></app-progress-bar>
            </div>
        </div>

    </div>
</div>