.main-container {
    height: calc(100% - 64px);
    margin-top: 10px;
}

.profile {
    width: 48%;
}

.credit-score {
    width: 48%;
}

.personal-info {
    display: flex;
    // flex-direction: row;
    // gap: 1em;
    flex: 1;

    .info {
        width: 49%;

        p {
            margin-top: 0;
        }
    }
}

.card {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #121a2e;
}

.spacebetween {
    justify-content: space-between;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.title {
    color: #cd2e37;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.margin-10 {
    margin-left: 10px;
}

.margin-20 {
    margin-right: 20px;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

.colorBlue {
    background-color: #121a2e !important;
    color: #fefefe !important;
}

.colorRed {
    background-color: #cd2e37 !important;
    color: #fefefe !important;
}

.smallCard {
    width: 50%;
    height: 122px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #121a2e;
}