<p> Loan Amount: Long-term loans typically involve larger loan amounts compared to short-term loans. Borrowers may seek substantial funds for significant investments such as real estate purchases, business expansions, or large-scale projects.

    Repayment Period: Unlike short-term loans, long-term loans have an extended repayment period, often exceeding one year and sometimes spanning several decades. The repayment period is typically structured into monthly installments.
    
    Interest Rate: Long-term loans may feature fixed or variable interest rates. Fixed rates remain constant throughout the loan term, providing predictability for borrowers. Variable rates may fluctuate based on market conditions, potentially resulting in changes to monthly payments.
    
    Collateral: Depending on the loan amount and the borrower's creditworthiness, long-term loans may be secured or unsecured. Secured loans require collateral, such as real estate or equipment, to mitigate the lender's risk. Unsecured loans do not require collateral but may have higher interest rates.
    
    Fees: Lenders may charge various fees associated with long-term loans, including origination fees, closing costs, and prepayment penalties. Borrowers should carefully review the fee schedule to understand the total cost of borrowing.
    
    Credit Check: Lenders typically perform a thorough credit check as part of the loan application process for long-term loans. A borrower's credit history and score play a significant role in determining loan approval and interest rates.
    
    Amortization Schedule: Long-term loans often feature an amortization schedule outlining the repayment structure over the loan term. The schedule specifies the amount of each monthly payment applied to principal and interest, helping borrowers understand their repayment obligations.
    
    Early Repayment: Borrowers may have the option to repay the loan early without incurring penalties. However, some lenders impose prepayment penalties or fees for early repayment, so borrowers should review the loan agreement carefully.
    
    Legal Terms: Long-term loan agreements include legal terms outlining the rights and responsibilities of both the lender and the borrower. These terms cover provisions for default, dispute resolution, and other legal matters.
    
    Insurance Requirements: For certain types of long-term loans, such as mortgages, lenders may require borrowers to maintain insurance coverage on the financed property to protect against loss or damage.
    <br><br><span><b>NB: </b>Short Term Loans are Strictly Charged at <b>33% Interest Rate</b>. Exception can be made for customers over 2 years.</span>

   </p>

    <div class="flex center-center"><button mat-raised-button color="warn" (click)="close()">Close</button></div>